USE [master]
GO
/****** Object:  Database [PingPongPlayersDb]    Script Date: 21-08-2018 23:28:37 ******/
CREATE DATABASE [PingPongPlayersDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PingPongPlayersDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PingPongPlayersDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PingPongPlayersDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PingPongPlayersDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PingPongPlayersDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PingPongPlayersDb]
GO
USE [PingPongPlayersDb]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 21-08-2018 23:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[PlayerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](20) NOT NULL,
	[LastName] [varchar](20) NOT NULL,
	[Age] [int] NULL,
	[SkillLevel] [varchar](20) NOT NULL,
	[Email] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
